# Virtual Environment
venv/
.env/
.venv/

# Environment Variables
.env
.env.*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build files
dist/
build/
*.egg-info/